body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Custom style*/
.clear {
    clear: both;
}

.navbar-btn {
    margin: 0;
}

.body-content {
    min-height: 600px;
}

.timelineList {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 400px;
    padding: 0 15px;
    white-space: nowrap;
    position: relative;
    margin-top: 20px;
}

.timelineRow {
    width: 200%;
}

.timelineItem {
    padding: 0;
    height: 500px;
    width: 500px;
}

.clients-carousel {
    border: 1px solid #f6f6f6;
    overflow: hidden;
}

.flex-viewport {
    max-height: 2000px;
}

.clients-carousel ul.clients {
    background: #fcfcfc;
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.detailsContainer {
    margin-top: 50px;
    width: 90%;
    max-height: 560px;
    height: 500px;
    /*background-color: white;*/
}

#card_container {
    /*margin-top: 50px;*/
    margin-left: 2px;
    width: 99%;
    height: 200px;
    /*background: whitesmoke;*/
    overflow-x: scroll; /* ! */
    overflow-y: hidden; /* ! */
    white-space: nowrap; /* ! */
    /*padding: 20px;*/
    /*padding-left: 20px;*/
    padding-top: 20px;
    color: #fff;
    font-size: 30px;
}

.timelineItem {
    /*color: #fff;*/
    display: inline-block; /* ! */
    /*background : #1B7EE0;*/
    /*background-color: #000;*/
    height: 144px;
    width: 256px;
    margin: 2px 5px;
}
.timelineItem:first-of-type {
    margin-left: 0px;
}

.timelineCard {
    margin: 10px;
    height: 144px;
    width: 256px;
}

iframe {
    border: 0px;
}


.tabbable li {
    border-bottom: none;
    padding: 0px;
}

.nav-tabs li {
    margin-bottom: -1px;
}



div.small {
    height: 144px;
    width: 256px;
    overflow: hidden;
}


.smallcard {
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: left top;
    /* -webkit-transform: scale(0.4); */
    /* -webkit-transform-origin: left top; */
    -ms-transform: scale(0.4);
    -ms-transform-origin: left top;
    -moz-transform: scale(0.4);
    -moz-transform-origin: left top;
    -o-transform: scale(0.4);
    transform: scale(0.4);
    -o-transform-origin: left top;
    transform-origin: left top;
    width: 660px;
    height: 380px;
    /* overflow: hidden; */
    cursor: pointer;
}

.card {
    width: 640px;
    height: 360px;
    position: absolute;
    background-color: black;
    overflow: hidden;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.smallcard > .card {
    border: 10px solid #FFF;
}

.smallcard > .selected {
    border-color: #3072E1;
}

.topContainer {
    /*float: left;*/
    max-height: 560px;
    height: 400px;
    /*padding-top: 23px;*/
    /*padding-left: 10px;*/
    -moz-transition: height .1s ease-in-out;
    -ms-transition: height .1s ease-in-out;
    -o-transition: height .1s ease-in-out;
    -webkit-transition: height .1s ease-in-out;
    transition: height .1s ease-in-out;
    color: white;
}

.previewContainer {
    /*float: left;*/
    /*width: 640px;*/
    height: 360px;
}

.detailsProps {
    width: 670px;
}

body.full {
    width: 640px;
    height: 360px;
    overflow: hidden;
}

.sourceContainer {
    /*float: left;*/
    /*height: 360px;*/
    /*margin-left: 120px;*/
    /*margin-top: 23px;*/
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    -moz-transition: opacity 0.2s ease-in-out 0s;
    -ms-transition: opacity 0.2s ease-in-out 0s;
    -o-transition: opacity 0.2s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out 0s;
    /*width: 460px;*/
    /*background-color: white;*/
}

.timelineEditor {
    overflow-y: scroll;
    overflow-y: hidden;
    max-height: 360px;
}

.sourceBox {
    /*float: left;*/
    /*width: 460px;*/
    /*margin-left: 8px;*/
    /*height: 324px;*/
    /*height: 360px;*/
    min-height: 318px;
    max-height: 318px;
    padding: 10px;
    color: gray;
    display: block;
    font-family: monospace;
    font-size: 16px;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    font-weight: normal;
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    overflow-x: hidden;
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -ms-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -o-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
}
.jsonRep {
    overflow-y: scroll;
    -moz-min-width: 570px;
    -ms-min-width: 570px;
    -o-min-width: 570px;
    -webkit-min-width: 570px;
    min-width: 570px;
    min-height: 318px;
    max-height: 318px;
    padding: 10px;
    color: gray;
    display: block;
    font-family: monospace;
    font-size: 16px;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    font-weight: normal;
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    overflow-x: hidden;
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -ms-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -o-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    white-space: pre;
}

.propertiesContent {
    /*margin-top: 20px;*/
    margin: 0px;
    margin-top: 29px;
}

.propSize {
    max-width: 80% !important;
    -moz-min-width: 80% !important;
    -ms-min-width: 80% !important;
    -o-min-width: 80% !important;
    -webkit-min-width: 80% !important;
    min-width: 80% !important;
}

.scalable {
    width: 592px;
    /*width: 640px;*/
    /*width: 100%;*/
    height: 346px;
    position: absolute;
    background-color: black;
    overflow: hidden;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    /*-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);*/
}

.saveBtn {
    margin-bottom: 20px;
}

.delBtn {
    margin-bottom: 20px;
    /*margin-left: 10px;*/
}

.codeEdotor {
     max-width: 620px;
}
.propContent {
     /*max-width: 595px;*/
    /*margin-top: 5px;*/
    /*border-top: none;
    border-left: none;*/
    border: none;
    margin: 10px;
}

.menuContent {
    border: none;
    margin: 10px;
    min-height: 200px;
    /*max-width: 200px;*/
}


.statusBarMain {
    margin-left: 2px;
}
.statusBar {
    margin-left: 16px;
    /*width: 48%;*/
    width: 592px;
    height: 30px;
    padding-top: 5px !important;
    /*max-width: 400px;*/
    margin-right: 20px;
}
/*.ace_editor { height: 200px; }*/


/* Put your css in here */
.fade-show-setup.fade-show-start {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}

.fade-show-setup {
    -ms-opacity: 0;
    opacity: 0;
}

.fade-show-setup.fade-show-start {
    -ms-opacity: 1;
    opacity: 1;
}

.fade-hide-setup.fade-hide-start {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}

.fade-hide-setup {
    -ms-opacity: 1;
    opacity: 1;
}

.fade-hide-setup.fade-hide-start {
    -ms-opacity: 0;
    opacity: 0;
}

.sample-show-hide {
  padding:10px;
  /*border:1px solid black;*/
  /*background:white;*/
}
 
.sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
    -ms-transition:all linear 0.5s;
    transition:all linear 0.5s;
  display:block!important;
}

.sample-show-hide.ng-hide-add.ng-hide-add-active,
.sample-show-hide.ng-hide-remove {
    -ms-opacity:0;
    opacity:0;
}

.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
    -ms-opacity:1;
    opacity:1;
}
.toggle {
    
}
.ng-animate {
    
}
.speakableTextTab {
    min-height: 318px;
    max-height: 318px;
}
.propLabel {
    text-align: left !important;
}
.propList {
    margin: 10px;
}

.disableItem {
   background-color: #EEEEEE;
    /*cursor: not-allowed;*/
}
.propParContent {
    margin-top: 29px;
}

.tab-pane .empty-text {
    color: #AAAAAA;
    font-size: 36px;
    margin: 60px 0 0 50px;
    position: absolute;
    
}

.tickIcon{
    height: 32px;
    width:32px;
    background:url('../../Images/tick-icon.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: block;
}

.crossIcon{
    height: 32px;
    width:32px;
    background:url('../../Images/cross-icon.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: block;
}

.speakable-text {
    width: 100%;
    height: 300px;
}

.location-scroll
{
	/*position:absolute;
	top:2px;
	left:2px;*/
    padding-top: 20px;
	width:100%;
	height:200px;
	overflow:auto;
	-ms-overflow-y: hidden;
    overflow-y:hidden;
}

.ajax-spinner-message {
    background: transparent;
    width: 100%;
    height: 100%;
    background: url('../../Images/728.gif') no-repeat;
    background-position: center;
}
.has-error {
    background-color: pink;
}