* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

// 
// 
// ADDED FROM SITE-2

/* Sticky footer styles
-------------------------------------------------- */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $f5;
}

.text-muted {
  margin: 20px 0;
}

.form-login {
  max-width: 330px;
  padding: 0px 15px 5px 15px;
  margin: 0 auto;

  .form-login-heading {
    margin-bottom: 10px;
  }

  .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

    &:focus {
      z-index: 2;
    }
  }
  
  input[type="password"] {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

// ADDED FROM SITE-2  
// 
// 

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select {
  max-width: 280px;
}


.field-validation-error {
  color: #b94a48;
}

.field-validation-valid {
  display: none;
}

input {
  &.input-validation-error {
    border: 1px solid #b94a48;
  }

  &[type="checkbox"].input-validation-error {
    border: 0 none;
  }
}

.validation-summary-errors {
  color: #b94a48;
}

.validation-summary-valid {
  display: none;
}

/*Custom style*/
.clear {
  clear: both;
}

.navbar-btn {
  margin: 0;
}

.body-content {
  min-height: 600px;
}

.timelineList {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 400px;
  padding: 0 15px;
  white-space: nowrap;
  position: relative;
  margin-top: 20px;
}

.timelineRow {
  width: 200%;
}

.timelineItem {
  padding: 0;
  height: 500px;
  width: 500px;
}

.clients-carousel {
  border: 1px solid $f6;
  overflow: hidden;
}

.flex-viewport {
  max-height: 2000px;
}

.clients-carousel ul.clients {
  background: $fc;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.detailsContainer {
  margin-top: 50px;
  width: 90%;
  max-height: 560px;
  height: 500px;
}

#card_container {
  margin-left: 2px;
  width: 99%;
  height: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 20px;
  color: $white;
  font-size: 30px;
}

.timelineItem {
  display: inline-block;
  height: 144px;
  width: 256px;
  margin: 2px 5px;

  &:first-of-type {
    margin-left: 0px;
  }
}

.timelineCard {
  margin: 10px;
  height: 144px;
  width: 256px;
}

iframe {
  border: 0px;
}

.tabbable li {
  border-bottom: none;
  padding: 0px;
}

.nav-tabs li {
  margin-bottom: -1px;
}

div.small {
  height: 144px;
  width: 256px;
  overflow: hidden;
}

.smallcard {
  transform: scale(0.4);
  transform-origin: left top;
  width: 660px;
  height: 380px;
  cursor: pointer;
}

.card {
  width: 640px;
  height: 360px;
  position: absolute;
  background-color: black;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.smallcard > {
  .card {
    border: 10px solid $white;
  }

  .selected {
    border-color: #3072E1;
  }
}

.topContainer {
  max-height: 560px;
  height: 400px;
  transition: height .1s ease-in-out;
  color: white;
}

.previewContainer {
  height: 360px;
}

.detailsProps {
  width: 670px;
}

body.full {
  width: 640px;
  height: 360px;
  overflow: hidden;
}

.sourceContainer {
  transition: opacity 0.2s ease-in-out 0s;
}

.timelineEditor {
  overflow-y: scroll;
  overflow-y: hidden;
  max-height: 360px;
}

.sourceBox {
  min-height: 318px;
  max-height: 318px;
  padding: 10px;
  color: gray;
  display: block;
  font-family: monospace;
  font-size: 16px;
  font-variant: normal;
  font-weight: normal;
  resize: none;
  border: 1px solid rgba($black, 0.1);
  outline: none;
  overflow-x: hidden;
  box-shadow: 1px 2px 4px rgba($black, 0.1);
}

.jsonRep {
  overflow-y: scroll;
  min-width: 570px;
  min-height: 318px;
  max-height: 318px;
  padding: 10px;
  color: gray;
  display: block;
  font-family: monospace;
  font-size: 16px;
  font-variant: normal;
  font-weight: normal;
  resize: none;
  border: 1px solid rgba($black, 0.1);
  outline: none;
  overflow-x: hidden;
  box-shadow: 1px 2px 4px rgba($black, 0.1);
  white-space: pre;
}

.propertiesContent {
  margin: 0px;
  margin-top: 29px;
}

.propSize {
  max-width: 80% !important;
  min-width: 80% !important;
}

.scalable {
  width: 592px;
  height: 346px;
  position: absolute;
  background-color: black;
  overflow: hidden;
  transform-origin: left top;
}

.saveBtn {
  margin-bottom: 20px;
}

.delBtn {
  margin-bottom: 20px;
}

.codeEdotor {
  max-width: 620px;
}

.propContent {
  border: none;
  margin: 10px;
}

.menuContent {
  border: none;
  margin: 10px;
  min-height: 200px;
}

.statusBarMain {
  margin-left: 2px;
}

.statusBar {
  margin-left: 16px;
  width: 592px;
  height: 30px;
  padding-top: 5px !important;
  margin-right: 20px;
}

/*.ace_editor { height: 200px; }*/

/* Put your css in here */
.fade-show-setup {
  &.fade-show-start {
    transition: all linear 1s;
    opacity: 1;
  }

  opacity: 0;
}

.fade-hide-setup {
  &.fade-hide-start {
    transition: all linear 1s;
    opacity: 0;
  }

  opacity: 1;
}

.sample-show-hide {
  padding: 10px;
  &.ng-hide-add, &.ng-hide-remove {
    transition: all linear 0.5s;
    display: block!important;
  }

  &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
    opacity: 0;
  }
  
  &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }
}

.toggle!, .ng-animate! {}

.speakableTextTab {
  min-height: 318px;
  max-height: 318px;
}

.propLabel {
  text-align: left !important;
}

.propList {
  margin: 10px;
}

.disableItem {
  background-color: $ee;
}

.propParContent {
  margin-top: 29px;
}

.tab-pane .empty-text {
  color: $aa;
  font-size: 36px;
  margin: 60px 0 0 50px;
  position: absolute;
}

.tickIcon {
  height: 32px;
  width: 32px;
  background: url('../../Images/tick-icon.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  display: block;
}

.crossIcon {
  height: 32px;
  width: 32px;
  background: url('../../Images/cross-icon.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  display: block;
}

.speakable-text {
  width: 100%;
  height: 300px;
}

.location-scroll {
  padding-top: 20px;
  width: 100%;
  height: 200px;
  overflow: auto;
  overflow-y: hidden;
}

.ajax-spinner-message {
  background: transparent;
  width: 100%;
  height: 100%;
  background: url('../../Images/728.gif') no-repeat;
  background-position: center;
}

.has-error {
  background-color: $pink;
}

a:hover {
  text-decoration: none;
}

.centered {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-inverse {
  border-color: #007196;
  background-color: #008cba;
  color: white;

  .navbar-brand, .navbar-nav > li > a {
    color: white;
  }
}

.page-header {
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
  border-bottom: 1px solid $dd;
}

.text-center {
  text-align: center;
}

.login-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $charcoal;
  background-color: $white;
  background-image: none;
  border: 1px solid $cc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba($black, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  max-width: 100%;
}