<div >
    <div class=" row propContent">
        <div class="col-md-6">

            <label>Id : {{selectedTimeline.id}}</label>
            <br>       
            <label>Title:
                <input type="text" class="input-medium search-query" ng-model="selectedTimeline.title" ng-minlength="5" ng-maxlength="20" data-name="Title" />
            </label>
            <br>
            <label>Latitude:
                <input type="text" ng-model="selectedTimeline.location.latitude" data-name="Latitude" data-datatype="float" />
            </label>
            <br>
            <label>Longitude:
                <input type="text" ng-model="selectedTimeline.location.longitude" data-name="Longitude" data-datatype="float" />
            </label>
            <br>
            <label>Address:
                <input type="text" ng-model="selectedTimeline.location.address" ng-minlength="5" ng-maxlength="20" data-name="Address" data-datatype="float" />
            </label>
            <br>
            <label>Display Time:
                <input data-datetime-picker-control="selectedTimeline.displayTime" data-name="Display Time" />
            </label>
        </div>
        <div class="col-md-6">
            <label>Source Item Id:
                <input type="text" ng-model="selectedTimeline.sourceItemId" data-name="Source Item Id" title="Source Item Id" />
            </label>
            <br>
            <label>Canonical Url:
                <input type="text" ng-model="selectedTimeline.canonicalUrl" data-name="Canonical Url" title="Canonical Url" />
            </label>
            <br>
            <label ng-model="selectedTimeline.etag" data-name="Etag"></label>

            <label ng-model="selectedTimeline.kind" data-name="Kind"></label>

            <input data-checkbox-control="selectedTimeline.isPinned" data-name="Pinned" image />

            <input data-label-control="selectedTimeline.created | dateConverter" data-name="Created" />
            <label data-label-control="selectedTimeline.updated | dateConverter" data-name="Updated"></label>
        </div>
    </div>
</div>