<div >
    <div class=" row propContent">
        <div class="col-md-6">

            <label data-label-control="selectedTimeline.id" data-name="Id"></label>

            <input data-textbox-control="selectedTimeline.title" ng-minlength="5" ng-maxlength="20" data-name="Title" />

            <input data-textbox-control="selectedTimeline.location.latitude" data-name="Latitude" data-datatype="float" />

            <input data-textbox-control="selectedTimeline.location.longitude" data-name="Longitude" data-datatype="float" />
            
            <input data-textbox-control="selectedTimeline.location.address" ng-minlength="5" ng-maxlength="20" data-name="Address" data-datatype="float" />

            <input data-datetime-picker-control="selectedTimeline.displayTime" data-name="Display Time" />
            
        </div>
        <div class="col-md-6">
            <input data-textbox-control="selectedTimeline.sourceItemId" data-name="Source Item Id" title="Source Item Id" />

            <input data-textbox-control="selectedTimeline.canonicalUrl" data-name="Canonical Url" title="Canonical Url" />

            <label data-label-control="selectedTimeline.etag" data-name="Etag"></label>

            <label data-label-control="selectedTimeline.kind" data-name="Kind"></label>

            <input data-checkbox-control="selectedTimeline.isPinned" data-name="Pinned" image />

            <input data-label-control="selectedTimeline.created | dateConverter" data-name="Created" />
            <label data-label-control="selectedTimeline.updated | dateConverter" data-name="Updated"></label>
        </div>
    </div>
</div>