<div ng-controller="subscriptionCtrl" block-ui block-ui-pattern="/\/api\/subscription($|\/).*/">
	<div id="subscription_container" class="row" >
		<div ng-repeat="subscription in subscriptions" class="subscription-item">
			<span class="collection">{{subscription.collection}}</span>
			<div ng-repeat="c in subscription.operation" class="operation-item">
				<input type="checkbox" ng-model="c.value"  /> <span class="operation-key">{{c.key.toLowerCase()}}</span>
			</div>	
		</div>

		<button type="button" class="btn btn-primary" ng-click="onSave()">
			<span class="glyphicon glyphicon-floppy-disk"></span>
			Save
		</button>
	</div>	
</div>