<div ng-include src="' views/header.html'"></div>
<div class="row">
    <div class="row">
        <div class="btn btn-default delBtn" ng-click="loadTimelines()">
            <span class="glyphicon glyphicon-refresh"></span>
            Refresh
        </div>
        <div class="btn btn-primary saveBtn {{ (oldItem == selectedTimeline ? 'true' : 'false') }}" ng-click="onUpdate()" ng-show="state == 'timeline' ">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Update
        </div>
        <div class="btn btn-danger delBtn" ng-click="onDelete()" ng-show="state == 'timeline' ">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
        </div>
        <div class="btn btn-primary saveBtn" ng-click="onInsert()" ng-show="state == 'template' ">Insert</div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div ng-show="hasStatus" ng-bind="statusMessage" class="statusBar alert alert-{{messageType}}">The Timeline is currently empty</div>
                    <div class="col-md-6 topContainer">
                        <div class="previewContainer" ng-controller="CardCtrl">                        
                            <div class="full">
                                <div class="scalable">
                                    <div id="leftscroll" class="scroll leftscroll" ng-click="onPrev()"></div>
                                    <div id="card" class="card" style="left: 0px; width: 592px; " ng-bind-html="selectedTimeline.output">
                                    </div>
                                    <div id="rightscroll" class="scroll rightscroll" ng-click="onNext()"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 sourceContainer codeEditor">
                         <tabitem>
                            <pane heading="{{tabName}}">
                                <div class="sourceBox" data-ui-ace="aceOption" data-ng-model="selectedTimeline.output"></div>
                            </pane>
                            <pane heading="JSON">
                                <div class="jsonRep" data-ui-ace="aceOption" data-ng-model="selectedTimeline.jsonRepresentation"></div>
                            </pane>
                        </tabitem>
                    </div>
                </div>

                <div class="row propertiesContent">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body propList">
                                    <tabitem>
                                        <pane heading="Properties">
                                            <div data-ng-include="" data-src="'./views/properties.html'"></div>
                                        </pane>
                                        <pane heading="Menu Items">
                                            <div data-ng-include="" data-src="'./views/menuitems.html'"></div>
                                        </pane>
                                        <pane heading="Speakable Text">
                                            <div data-ng-include="" data-src="'./views/speakabletext.html'"></div>
                                        </pane>
                                    </tabitem>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default timeline-item">
            <div class="panel-body">
                <tabsetitem>
                    <tabi title="Timeline" template-url="./views/timelineTab.html"></tabi>
                    <tabi title="Locations" template-url="./views/locationsTab.html"></tabi>
                    <tabi title="Templates" template-url="./views/templateTab.html"></tabi>
                    <tabi title="Subscription" template-url="./views/subscriptionTab.html"></tabi>
                </tabsetitem>
            </div>
        </div>
    </div>
</div>
